# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\temporary projects\Simple2DMapEditor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
